.hero {
  background-attachment: scroll, fixed;
  background-position: top left, top center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.title {
  text-shadow: 8px 8px 20px black;
}