@import "../styles/constants.scss";

// Bulma variables
$rtl: true;
$link: $main_color;
$footer-background-color: $dark-background;
@import "~bulma/bulma.sass";

@import "../styles/common.scss";

html,
body {
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
